@font-face {
	font-family: "sonya";
	src: url("fonts/sonya cute.ttf");
	font-display: swap;
}

:root {
	--shape1AnimationTime: 24s;
	--shape2AnimationTime: 21s;
	--shape3AnimationTime: 23s;
	--shape1AnimationDelay: 1s;
	--shape2AnimationDelay: 1.8s;
	--shape3AnimationDelay: 0.2s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	touch-action: manipulation;
	font-family: "sonya", Arial, Helvetica, sans-serif;
	text-shadow: min(0.05em, 1.5px) min(0.05em, 1.5px) min(0.05em, 1.5px)
		#1d021930;
	letter-spacing: 0.02em;
}

html {
	width: 100vw;
	height: 100%;
	touch-action: none;
}

body {
	background-image: url("graphics/heartsOverlay.svg"), url("graphics/bg.svg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

svg {
	shape-rendering: geometricPrecision;
}

a {
	color: violet;
	background-color: #33103390;
	padding: 3px 5px 0px 5px;
	border-radius: 8px;
	display: inline-flex;
}

i {
	text-shadow: min(0.05em, 1px) min(0.05em, 1.5px) min(0.05em, 1.5px) #1d021930;
}

#quoteContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 65px);
	width: 100%;
	top: 65px;
	position: absolute;
	/* cant decide if it looks good or not */
	/* border: 4px dashed violet;*/
}

#quote {
	font-size: 2rem;
	font-weight: bold;
	color: #0a021d;
	text-align: center;
	z-index: 1;
	width: 95%;
	padding-top: 6px;
	min-height: 1.3em;
}

::selection {
	background-color: #b000ada0;
}

#hudDate {
	font-size: 1.6rem;
	color: #0a021d;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
}

#info {
	position: fixed;
	width: calc(100% - 20px);
	top: 50%;
	left: 50%;
	height: calc(100% - 20px);
	transform: translate(-50%, -50%);
	background-color: #fdc4d9f0;
	padding: 40px 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	font-size: 1.3em;
	text-align: center;
	z-index: 10;
}

#infoTitle {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 30px;
}

#xButton {
	background: none;
	border: none;
	position: absolute;
	top: 16px;
	right: 16px;
	color: black;
	cursor: pointer;
}

#prevDay {
	position: absolute;
	left: 10px;
	top: 10px;
	background: #0a021d10;
	border-radius: 8px;
	padding: 7px 8px 3px 7px;
	border: 1px solid #0a021d10;
	user-select: none;
	-webkit-touch-callout: none;
	cursor: pointer;
	z-index: 4;
}

#nextDay {
	position: absolute;
	right: 10px;
	top: 10px;
	background: #0a021d10;
	border-radius: 8px;
	padding: 7px 7px 3px 8px;
	border: 1px solid #0a021d10;
	user-select: none;
	-webkit-touch-callout: none;
	cursor: pointer;
	z-index: 4;
}

#hangmanButton {
	position: absolute;
	left: 10px;
	bottom: 10px;
	background: #0a021d10;
	border-radius: 8px;
	padding: 7px 8px 3px 7px;
	border: 1px solid #0a021d10;
	user-select: none;
	-webkit-touch-callout: none;
	cursor: pointer;
	z-index: 4;
}

#hangmanContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 65px);
	width: 100%;
	top: 65px;
	position: absolute;
}

#hangmanLives {
	position: relative;
	display: block;
	width: 100%;
	text-align: right;
	padding-right: 10px;
	height: 3em;
	font-size: 1.7em;
	letter-spacing: 0.03em;
	z-index: 4;
}

#hangmanWordContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

#hangmanWord {
	position: relative;
	display: block;
	font-size: 3em;
	font-weight: bold;
	color: #0a021d;
	text-align: center;
	width: 100%;
	padding: 0px 2.5%;
	z-index: 1;
}

#hangmanKeyboard {
	display: flex;
	flex-direction: column;
	/* position: absolute; */
	gap: 6px;
	width: 100%;
	margin-bottom: 10px;
}

#hangmanMessage {
	min-width: 40%;
	font-size: 1.2em;
	min-height: 2em;
	top: 0;
	display: flex;
	opacity: 0;
	justify-content: center;
	align-items: center;
	margin: 15px 20vw;
	padding: 8px 8px 8px 8px;
	border-radius: 10px;
}

#shape1 {
	top: 100px;
	left: 20px;
	animation: move var(--shape1AnimationTime) ease-in-out
		var(--shape1AnimationDelay) infinite alternate;
}

#shape2 {
	top: 30px;
	right: 50px;
	animation: move var(--shape2AnimationTime) ease-in-out
		var(--shape2AnimationDelay) infinite alternate;
}

#shape3 {
	bottom: 40px;
	right: calc(20vw + 10px);
	animation: move var(--shape3AnimationTime) ease-in-out
		var(--shape3AnimationDelay) infinite alternate;
}

#heartOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	overflow: hidden;
}

.hangmanKeyboardRow {
	display: flex;
	justify-content: center;
	gap: 6px;
	width: 100%;
	font-size: 1.72em;
	z-index: 4;
}

.letter {
	width: 1.2em;
	height: 2em;
	padding-top: 0.43em;
	border: 1px solid #00000081;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	color: #edf1fe;
	background-color: #aaaaaa80;
}

.fadeOut {
	animation: 2000ms ease 0s 1 normal none running fadeOut;
}

.shape {
	position: absolute;
	width: 100px;
	height: 100px;
	user-select: none;
	pointer-events: none;
}

.small {
	font-size: 0.5em;
	min-height: 0.5em;
}

.big {
	font-size: 2em;
	min-height: 2em;
}

.heart {
	position: absolute;
	font-size: 40px;
	user-select: none;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	text-shadow: #0a021d80 0 0 5px;
}

.beatingHeart {
	animation: 850ms ease-in-out 0s infinite alternate beat;
	text-shadow: #0a021dd3 0 0.1em 0.1em;
}

@keyframes move {
	0% {
		transform: translate(0, 6) rotate(0deg);
	}

	12% {
		transform: translate(6px, 10px) rotate(3deg);
	}

	25% {
		transform: translate(14px, 4px) rotate(6deg);
	}

	37% {
		transform: translate(10px, -8px) rotate(-6deg);
	}

	50% {
		transform: translate(0px, -16px) rotate(5deg);
	}

	62% {
		transform: translate(-10px, -8px) rotate(-4deg);
	}

	75% {
		transform: translate(-14px, 4px) rotate(8deg);
	}

	87% {
		transform: translate(-8px, 10px) rotate(-3deg);
	}

	100% {
		transform: translate(0, 6) rotate(0deg);
	}
}

@keyframes floatUp {
	0% {
		transform: translate(0, 0);
		opacity: 1;
	}

	100% {
		transform: translate(var(--curve), -100vh);
		opacity: 0.2;
	}
}

@keyframes wobble {
	0% {
		transform: translate(0, 0);
	}
	15% {
		transform: translate(-4px, 1px) rotate(-5deg);
	}
	30% {
		transform: translate(7px, 5px) rotate(4deg);
	}
	45% {
		transform: translate(-7px, -5px) rotate(-3deg);
	}
	60% {
		transform: translate(7px, -3px) rotate(5deg);
	}
	75% {
		transform: translate(-5px, 6px) rotate(-4deg);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
	}
	85% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes beat {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fadeOut {
	0% {
		transform: scale(0.9);
		opacity: 1;
	}
	10% {
		transform: scale(1.05);
		opacity: 1;
	}
	15% {
		transform: scale(1);
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
