.star {
	font-size: var(--size);
	text-shadow: 0 0 var(--radianceRadius) var(--color);
	color: var(--color);
	opacity: 0;
	animation: starFadeIn 5s ease-in forwards;
}

#starsContainer {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 4;
	background: #00000000;
	transition: background 16s ease-in-out;
}

#starsContainer.darken {
	/* needs to be more specific than #id selector*/
	background: #01030edd;
}

#quote.toLightColor {
	z-index: 10;
	color: rgba(133, 233, 229, 0.071);
	transition: color 16s ease-in-out;
}

@keyframes starFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: var(--maxOpacity);
	}
}
