#mirrorButton {
	margin-top: 1em;
	padding: 0.5em 1em;
	font-size: 1.5em;
	z-index: 10;
	color: #111111ee;
	border: 1px solid white;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 2px 5px rgba(25, 25, 25, 0.5);
}

#mirrorContainer {
	position: fixed;
	left: 20px;
	right: 20px;
	top: 80px;
	bottom: 80px;
	border-radius: 20px;
	background-position: center;
	z-index: 10;
	pointer-events: none;
	border: 4px solid rgb(71, 47, 26);
	box-shadow: 0 8px 15px rgba(25, 25, 25, 0.3);
	border-radius: 50%;
	/* overflow: hidden; */
}

#videoMirror {
	position: relative;
	object-fit: cover;
	transform: scaleX(-1); /* mirror the camera */
	border-radius: 50%;
}

#videoMirrorOverlay {
	width: 100%;
	height: 100%;
	pointer-events: none;
	mix-blend-mode: lighten;
	top: 0;
	left: 0;
	background: radial-gradient(
		circle at center,
		transparent 0%,
		rgba(117, 117, 117, 0.1) 40%,
		rgba(255, 255, 255, 0.4) 90%
	);
	z-index: 20;
	position: absolute;
	border-radius: 50%;
}
