.stars {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	transform: rotate(-45deg);
}

.star {
	--star-color: #ffdc13;
	--star-tail-length: 6em;
	--star-tail-height: 2px;
	--star-width: calc(var(--star-tail-length) / 6);
	--fall-duration: 9s;
	--tail-fade-duration: var(--fall-duration);
	position: absolute;
	top: var(--top-offset);
	left: 0;
	width: var(--star-tail-length);
	height: var(--star-tail-height);
	color: var(--star-color);
	background: linear-gradient(45deg, currentColor, transparent);
	border-radius: 50%;
	filter: drop-shadow(0 0 6px currentColor);
	transform: translate3d(104em, 0, 0);
	animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
		tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
	.star {
		animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
	}
}
.star:nth-child(1) {
	--star-tail-length: 5.44em;
	--top-offset: 40.75vh;
	--fall-duration: 11.632s;
	--fall-delay: 0.382s;
}
.star:nth-child(2) {
	--star-tail-length: 6.57em;
	--top-offset: 53.41vh;
	--fall-duration: 8.832s;
	--fall-delay: 6.836s;
}
.star:nth-child(3) {
	--star-tail-length: 6.39em;
	--top-offset: 35.48vh;
	--fall-duration: 9.606s;
	--fall-delay: 0.16s;
}
.star:nth-child(4) {
	--star-tail-length: 6.98em;
	--top-offset: 86.58vh;
	--fall-duration: 7.023s;
	--fall-delay: 6.993s;
}
.star:nth-child(5) {
	--star-tail-length: 7.42em;
	--top-offset: 3.93vh;
	--fall-duration: 11.002s;
	--fall-delay: 6.821s;
}
.star:nth-child(6) {
	--star-tail-length: 7.5em;
	--top-offset: 68.98vh;
	--fall-duration: 7.488s;
	--fall-delay: 4.303s;
}
.star:nth-child(7) {
	--star-tail-length: 7.14em;
	--top-offset: 99.16vh;
	--fall-duration: 11.915s;
	--fall-delay: 9.996s;
}
.star:nth-child(8) {
	--star-tail-length: 6.48em;
	--top-offset: 57.7vh;
	--fall-duration: 11.764s;
	--fall-delay: 7.018s;
}
.star:nth-child(9) {
	--star-tail-length: 7.41em;
	--top-offset: 86.06vh;
	--fall-duration: 6.311s;
	--fall-delay: 2.811s;
}
.star:nth-child(10) {
	--star-tail-length: 7.25em;
	--top-offset: 0.42vh;
	--fall-duration: 8.947s;
	--fall-delay: 2.251s;
}
.star:nth-child(11) {
	--star-tail-length: 7.4em;
	--top-offset: 48.99vh;
	--fall-duration: 11.931s;
	--fall-delay: 8.29s;
}
.star:nth-child(12) {
	--star-tail-length: 5.62em;
	--top-offset: 87.61vh;
	--fall-duration: 8.635s;
	--fall-delay: 8.86s;
}
.star:nth-child(13) {
	--star-tail-length: 6.41em;
	--top-offset: 52.61vh;
	--fall-duration: 9.259s;
	--fall-delay: 9.855s;
}
.star:nth-child(14) {
	--star-tail-length: 7.23em;
	--top-offset: 78.56vh;
	--fall-duration: 10.778s;
	--fall-delay: 6.758s;
}
.star:nth-child(15) {
	--star-tail-length: 5.52em;
	--top-offset: 20.77vh;
	--fall-duration: 6.624s;
	--fall-delay: 8.206s;
}
.star:nth-child(16) {
	--star-tail-length: 7.04em;
	--top-offset: 70.07vh;
	--fall-duration: 11.271s;
	--fall-delay: 3.828s;
}
.star:nth-child(17) {
	--star-tail-length: 5.18em;
	--top-offset: 13.65vh;
	--fall-duration: 10.501s;
	--fall-delay: 1.613s;
}
.star:nth-child(18) {
	--star-tail-length: 6.1em;
	--top-offset: 41.39vh;
	--fall-duration: 7.288s;
	--fall-delay: 4.39s;
}
.star:nth-child(19) {
	--star-tail-length: 6.88em;
	--top-offset: 57.04vh;
	--fall-duration: 9.881s;
	--fall-delay: 5.415s;
}
.star:nth-child(20) {
	--star-tail-length: 5.27em;
	--top-offset: 45.73vh;
	--fall-duration: 8.698s;
	--fall-delay: 7.282s;
}
.star:nth-child(21) {
	--star-tail-length: 7.46em;
	--top-offset: 11.96vh;
	--fall-duration: 10.133s;
	--fall-delay: 0.614s;
}
.star:nth-child(22) {
	--star-tail-length: 6.17em;
	--top-offset: 9.12vh;
	--fall-duration: 7.834s;
	--fall-delay: 2.477s;
}
.star:nth-child(23) {
	--star-tail-length: 5.68em;
	--top-offset: 84.11vh;
	--fall-duration: 10.626s;
	--fall-delay: 8.328s;
}
.star:nth-child(24) {
	--star-tail-length: 6.08em;
	--top-offset: 32.36vh;
	--fall-duration: 11.8s;
	--fall-delay: 3.589s;
}
.star:nth-child(25) {
	--star-tail-length: 5.54em;
	--top-offset: 7.31vh;
	--fall-duration: 6.996s;
	--fall-delay: 0.01s;
}
.star:nth-child(26) {
	--star-tail-length: 5.49em;
	--top-offset: 28.9vh;
	--fall-duration: 7.112s;
	--fall-delay: 5.307s;
}
.star:nth-child(27) {
	--star-tail-length: 6.37em;
	--top-offset: 90.33vh;
	--fall-duration: 10.034s;
	--fall-delay: 6.264s;
}
.star:nth-child(28) {
	--star-tail-length: 5.2em;
	--top-offset: 40.49vh;
	--fall-duration: 11.287s;
	--fall-delay: 0.593s;
}
.star:nth-child(29) {
	--star-tail-length: 5.25em;
	--top-offset: 8.17vh;
	--fall-duration: 9.639s;
	--fall-delay: 5.593s;
}
.star:nth-child(30) {
	--star-tail-length: 5.87em;
	--top-offset: 30.15vh;
	--fall-duration: 11.31s;
	--fall-delay: 0.239s;
}
.star:nth-child(31) {
	--star-tail-length: 7.02em;
	--top-offset: 6.07vh;
	--fall-duration: 10.699s;
	--fall-delay: 1.036s;
}
.star:nth-child(32) {
	--star-tail-length: 5.01em;
	--top-offset: 26.63vh;
	--fall-duration: 6.359s;
	--fall-delay: 3.343s;
}
.star:nth-child(33) {
	--star-tail-length: 5.97em;
	--top-offset: 35.19vh;
	--fall-duration: 6.701s;
	--fall-delay: 3.371s;
}
.star:nth-child(34) {
	--star-tail-length: 6.48em;
	--top-offset: 81.59vh;
	--fall-duration: 10.666s;
	--fall-delay: 9.514s;
}
.star:nth-child(35) {
	--star-tail-length: 7.5em;
	--top-offset: 68.76vh;
	--fall-duration: 11.343s;
	--fall-delay: 0.76s;
}
.star:nth-child(36) {
	--star-tail-length: 6.15em;
	--top-offset: 53.9vh;
	--fall-duration: 6.062s;
	--fall-delay: 4.557s;
}
.star:nth-child(37) {
	--star-tail-length: 7.13em;
	--top-offset: 41.77vh;
	--fall-duration: 9.042s;
	--fall-delay: 4.603s;
}
.star:nth-child(38) {
	--star-tail-length: 6.77em;
	--top-offset: 60.95vh;
	--fall-duration: 11.319s;
	--fall-delay: 1.223s;
}
.star:nth-child(39) {
	--star-tail-length: 5.61em;
	--top-offset: 71.41vh;
	--fall-duration: 9.207s;
	--fall-delay: 4.396s;
}
.star:nth-child(40) {
	--star-tail-length: 7.28em;
	--top-offset: 12.64vh;
	--fall-duration: 8.854s;
	--fall-delay: 9.585s;
}
.star:nth-child(41) {
	--star-tail-length: 5.14em;
	--top-offset: 71.34vh;
	--fall-duration: 7.899s;
	--fall-delay: 4.426s;
}
.star:nth-child(42) {
	--star-tail-length: 6.03em;
	--top-offset: 2.34vh;
	--fall-duration: 8.681s;
	--fall-delay: 8.418s;
}
.star:nth-child(43) {
	--star-tail-length: 6.58em;
	--top-offset: 74.09vh;
	--fall-duration: 6.65s;
	--fall-delay: 4.681s;
}
.star:nth-child(44) {
	--star-tail-length: 5.74em;
	--top-offset: 78.76vh;
	--fall-duration: 6.178s;
	--fall-delay: 8.335s;
}
.star:nth-child(45) {
	--star-tail-length: 7.33em;
	--top-offset: 51.3vh;
	--fall-duration: 8.185s;
	--fall-delay: 3.474s;
}
.star:nth-child(46) {
	--star-tail-length: 5.43em;
	--top-offset: 96.84vh;
	--fall-duration: 10.59s;
	--fall-delay: 1.89s;
}
.star:nth-child(47) {
	--star-tail-length: 5.89em;
	--top-offset: 78.96vh;
	--fall-duration: 7.625s;
	--fall-delay: 1.539s;
}
.star:nth-child(48) {
	--star-tail-length: 5.59em;
	--top-offset: 60.9vh;
	--fall-duration: 7.161s;
	--fall-delay: 1.98s;
}
.star:nth-child(49) {
	--star-tail-length: 5.57em;
	--top-offset: 67.49vh;
	--fall-duration: 6.899s;
	--fall-delay: 5.742s;
}
.star:nth-child(50) {
	--star-tail-length: 6.77em;
	--top-offset: 34.69vh;
	--fall-duration: 8.926s;
	--fall-delay: 4.722s;
}
.star::before,
.star::after {
	position: absolute;
	content: "";
	top: 0;
	left: calc(var(--star-width) / -2);
	width: var(--star-width);
	height: 100%;
	background: linear-gradient(45deg, transparent, currentColor, transparent);
	border-radius: inherit;
	animation: blink 2s linear infinite;
}
.star::before {
	transform: rotate(45deg);
}
.star::after {
	transform: rotate(-45deg);
}

@keyframes fall {
	to {
		transform: translate3d(-30em, 0, 0);
	}
}
@keyframes tail-fade {
	0%,
	50% {
		width: var(--star-tail-length);
		opacity: 1;
	}
	70%,
	80% {
		width: 0;
		opacity: 0.4;
	}
	100% {
		width: 0;
		opacity: 0;
	}
}
@keyframes blink {
	50% {
		opacity: 0.6;
	}
}
